<%=semantic_form_for [:admin, @booking] do |f| %>
  <%=f.semantic_errors *f.object.errors.keys%>
	  <%=f.inputs "Person Information", :class =>"contact-info-booking-admin" do %>
	  	<%= f.input :title, :as => :select, :collection => [["Mr", "Mr"],["Mrs", "Mrs"],["Other", "Other"]],:input_html => { :require =>true} %>
			<%= f.input :person_name,:input_html => { :require =>true}%>
			<%= f.input :email,:input_html => { :require =>true}%>
			<%= f.input :valid_telephone_number,:input_html => { :require =>true}%>
		

		<%=f.inputs "Current Address", :class =>"address-current-panel-admin-frm" do %>
			
			<%= f.input :current_house_name_or_number,:label => "house number/Name",:input_html => { :require =>true}%>
			<%= f.input :current_street_name,:input_html => { :require =>true}%>
			<%= f.input :current_post_code,:input_html => { :require =>true}%>
		<%end%>	

		<%=f.inputs "New Address", :class =>"address-current-panel-admin-frm admin-frm-from-booking"  do %>
			<%= f.input :new_house_name_or_number,:input_html => { :require =>true}%>
			<%= f.input :new_street_name,:input_html => { :require =>true}%>
			<%= f.input :new_post_code,:input_html => { :require =>true}%>
		<%end%>
		
	<%end%>	

	 
		
		<%=f.inputs "I want to Move these...", :class =>"contact-info-booking-want-to-move-admin" do %>
			<%= f.fields_for :bookable_items, @booking.initialized_removable_items do |b| %>
			<div class="grid_4">
				<% removable_item = b.object.removable_item %>
		    <%= b.hidden_field :removable_item_id %>
				<%= b.check_box :enable %>
		    <%= b.label :enable, removable_item.item_name %>
		    <%=b.select :bookable_item_qty, (1..10) %>
			</div>
				
		  <%end%>
		<%end%>	
			
		<%=f.inputs "Removale Schedule ", :class =>"contact-info-booking-want-to-move-admin" do %>
			 <%#= f.input :expected_removal_day,:as => :string, :input_html => {:class => 'datepicker hasDatePicker'}%>
				<div id="removal_day"></div>
		  	<%=f.input :expected_removal_day,  as: :hidden%>
		  	
		<%end%>	

	 
	  <%=f.actions :submit, :cancel %>
<%end%>

<script>
  $( function() {
    $( "#removal_day" ).datepicker({
    	minDate: 0,
    	altField: "#booking_expected_removal_day",
      altFormat: "DD, d MM, yy"
    });
  } );


  </script>


   