<div class="container">
	<div class="req-qte-sec-head">
		<h5 class="req-qt-head-txt">Request A free Qoute</h5>
	</div>
	<hr class="thin-red-line">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-xl-4">
			Would you like to speak to one of our 
			removal advisers over the phone?
			Just submit your details and we will be in touch shortly.
		</div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<div class="request-qte-frm">
				<%= form_for @contact, url: admin_dashboard_path, remote: true do |f| %>
				<div class="form-row">
			    <div class="form-group col-md-6">
			      <!-- <input type="text" class="form-control" id="inputEmail4" placeholder="your Name"> -->
			      <%= f.text_field  :name, required: true, class: "form-control", :placeholder=> "your Name" %>
			    </div>
			    <div class="form-group col-md-6">
			      <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="Your Email">		 -->
			      <%= f.email_field  :email, required: true, class: "form-control", :placeholder=> "Your Email" %>	    
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
			     <!--  <input type="text" class="form-control" id="inputEmail4" placeholder="your Phone"> -->
			      <%= f.text_field  :phone, required: true, class: "form-control", :placeholder=> "Your Phone" %>

			    </div>
			    <div class="form-group col-md-6">
			      <!-- <input type="email" class="form-control" id="inputEmail4" placeholder="Your Postcode">	 -->
			      <%= f.text_field  :post_code, required: true, class: "form-control", :placeholder=> "Your Postcode" %>		      
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-10">
			      <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
			      <%= f.text_area  :message, required: true, class: "form-control", :placeholder=> "Your Message" , :rows => "3"%>
			    </div>

			    
			    <div class="form-group col-md-2">
			      <button type="submit" class="btn btn-primary btn-tbn">Submit</button>
			    </div>
					
					<div class="hidden">
		        <div class="form-group col-md-12">
				      <%= f.label :nickname %>
			        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
			    	</div>
		      </div>
			  </div>
			  <%end%>

			  <div class="col-md-12 " id="flash-message">
			    <%= render 'flash' %>
			  </div>
			</div>
		</div>
	</div>
</div>