<%=semantic_form_for [:admin, @booking,@quotation] do |f| %>
  <%=f.semantic_errors *f.object.errors.keys%>
	<div class="container">
		 Dear <%=@booking.person_name%>,
		<br><br>	
		
  	  <h4>
  	  	Thank you for your interest in using the RDL Transportation Removal Service for your forthcoming move.   	  	Your move is from <strong class "red_p_code"><%=@booking.current_post_code%></strong> 
  	  	to <strong class "red_p_code"><%=@booking.new_post_code%></strong>.
  	  </h4> 
		<br>
		<%=f.input :price,:input_html => { :require =>true} %> <br>
		<%= f.input :vechile_type, :as => :select, :collection => [[" 3.5T 14feet Mercedes Luton ", " 3.5T 14feet Mercedes Luton "],["Sprinter", "Sprinter"]],:input_html => { :require =>true} %>
		<br>
		<%= f.input :team_members, :as => :select, :collection => [[" 2 man removal team  ", " 2 man removal team  "],["3 man removal team ", "3 man removal team "]],:input_html => { :require =>true} %>
		to move 
		<%= f.input :house_flat_type, :as => :select, :collection => [["  2 bed room house  ", " 2 bed room house  "],[" 3 bed room house ", " 3 bed room house "]],:input_html => { :require =>true} %>
  	 
 
	  <%= f.input :customer_name, :input_html => { :value => f.object.booking.person_name },  as: :hidden%>
	  <%= f.input :from_address, :input_html => { :value => f.object.booking.current_post_code },  as: :hidden%>
	  <%= f.input :to_address, :input_html => { :value => f.object.booking.new_post_code },  as: :hidden%>
  
  <div class="div-action">
  	<%=f.actions :submit, :cancel %>
  </div>

  
<%end%>



   