<div class="col-md-12">
	<div class="container">
		<div class="maintain-mox">
			<div class="image-box-maintain">
				<%=image_tag("rain.svg")%>
			</div>
			<div class="maintian-message">
				<h5> Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. If you need to you can always <a href="mailto:info@rdlway.com"> contact us</a>  or call us on 07939595187, otherwise we&rsquo;ll be back online shortly!</h5>
			</div>
		</div>
		

	</div>
</div>
