<div class="new-booking-request-section">
	<div class="container">
		<%=form_for @booking  do |f|%>
			
			<%=f.text_field :person_name, :placeholder => "Enter name"%>
			<%=f.text_field :post_code, :placeholder => "Enter post_code"%>
			<%=f.text_field :address, :placeholder => "Enter address"%>
			<%=f.text_field :valid_telephone_number, :placeholder => "Enter telephone"%>
			<%=f.text_field :email, :placeholder => "Enter email"%>
			<br><br>
			
			<%= f.fields_for :bookable_items, @booking.initialized_removable_items do |b| %>
				<% removable_item = b.object.removable_item %>
		    <%= b.hidden_field :removable_item_id %>

		    	<%= b.check_box :enable %>
		      <%= b.label :enable, removable_item.item_name %>
		      	      
		      <%=b.select :bookable_item_qty, (1..10) %>
		    
		  
			<%end%>
			
			
			
			<%=f.submit%>
			<% @booking.errors.full_messages.each do |msg| %>
    		<li><%= msg.humanize %></li>
  		<% end %>
		<%end%>
	</div>
</div>



