

<div class="lnd-img-sec-" id ="rdl-removals-chester-introduction">
	<div class="img-holder">
		<div class="container landing-container">
			<div class="head-text-cont">
				<h2 class="hed-txt-itm-fst">
					BE sure your cargo is in safe hands
				</h2>
				<h3 class="hed-txt-itm-second">
					100 % Responsiblity
				</h3>
				<div class="btn-link-online">
					<%=link_to "CALL US  07939595187", "#", class: "link-btn-to-online"%>
				</div>
			</div>
		</div>
		
	</div>
</div>
<!-------------------------------ABUOUT & GET QOUTE-------------------------------------------->

<div class="abt-us-sec-" id="about-rdl-removals">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
				<div class="explain-abt-sec">
					<h5 class="explin-abt-sex-head-txt">
						About us
					</h5>
					<hr class="thin-red-line">
					<h6 class="expialin-abt-us">
						We're a professional local moving company created to move more than just your boxes. We'll move you 
						with our hard work and genuine smiles.
					</h6>
					<h6 class="p-one">We are available for household removals</h6>
					<h6 class="p-two">Cheshire, North Wales & Stafford</h6>
					<div class="get-qte-abt nav-item" >

						<%#=link_to "Get a free Qoute", "#", class: "abt-us-get-qte-link", :id => "qoute"%>
						<a class="nav-link js-scroll-trigger abt-us-get-qte-link" href="#rdl-removals-get-a-free-qoutation">Get a free Quote</a>
						
					</div>
				</div>
			</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<div class="vn-img-abt-sec">
				<div class="van-img ">
					<%#=image_tag('sprinter_2.png',class: "the-van img-fluid")%>
					<%=image_tag('van.png',class: "the-van2 img-fluid", alt: "RDL Luston Sprinter Van")%>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

<!---------------------------------------SERVICES--------------------------------------------------------->

<div class="service-sec-" id="rdl-removals-services">
	<div class="container">
		<h5 class="explin-abt-sex-head-txt service-header-text-head">
				SERVICES
			</h5>
			<hr class="thin-red-line">
		<div class="service-itm-cont">
			
			<div class="row">
			  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
			   <div class="service-card">
						<div class="service-icon">
							<%=image_tag('box.svg', class: "package-svg", alt: "Rdl Packing Services")%>
						</div>
						<div class="service-explain text-center">
							<p class="ser-ex-txt text-center">
								Packaging Services
							</p>
							<hr class="-ser-ex-txt-line">
							<div class="ok-explain-now-what text-justify">
								<p class="ser-ex-txt text-center ok-explain-parah">
									We provide professional standard packing service or we can provide boxes & materials
								</p>
							</div>		
						</div>
					</div>
			  </div>
			  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
			   <div class="service-card">
						<div class="service-icon">
							<%=image_tag('delivery-van.svg', class: "package-svg", alt: "Rdl Courier Services")%>
						</div>
						<div class="service-explain text-center">
							<p class="ser-ex-txt text-center">
								Man With Van Services
							</p>
							<hr class="-ser-ex-txt-line">
							<div class="ok-explain-now-what text-justify">
								<p class="ser-ex-txt text-center ok-explain-parah">
									You can choose different size of vans for your needs.
								</p>
							</div>		
						</div>
					</div>
			  </div>
			  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
			    <div class="service-card">
						<div class="service-icon">
							<%=image_tag('house.svg', class: "package-svg" , alt: "Rdl Domestic House Removals")%>
						</div>
						<div class="service-explain text-center">
							<p class="ser-ex-txt text-center">
								Local Move Services
							</p>
							<hr class="-ser-ex-txt-line">
							<div class="ok-explain-now-what text-justify">
								<p class="ser-ex-txt text-center ok-explain-parah">
									We offer small to large size removal services for a competitve rate.
								</p>
							</div>		
						</div>
					</div>
			  </div>
			</div>
		</div>
	</div>
</div>


<!---------------------------------------QOUTES--------------------------------------------------------->


<div class="qoute-sec" id="rdl-removals-get-a-free-qoutation">
	<div id="contact">
		<%=render 'contact'%>
	</div>
</div>

<!---------------------------------------FOOTER--------------------------------------------------------->
<div class="foot-sec-">
	<%=render 'layouts/footer'%>
</div>