// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

@import "active_admin_flat_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


html .panel > h3, html .sidebar_section.panel > h3 {
    border-bottom: 1px solid #f30000 !important;
    background: #d4d4d4 !important;
    /* color: white; */
    padding: 8px 15px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    font-weight: bold !important;
    border-style: none none solid !important;
}

.panel h3, .sidebar_section.panel h3, .sidebar_section.panel h3{
    color: #000000 !important;
    border-radius: 0;
    border: 0;
    /* padding: 15px !important; */
    transition: border 500ms;
    margin: 3px 0;
    font-weight: 200 !important;
    font-size: inherit !important;
    line-height: normal;
}

html .panel_contents table th, html .attributes_table table th {
  font-weight: normal;
  font-size: 10px;
  text-transform: uppercase;
}

.address-current-panel-admin{
	width: 46% !important;
	margin-right: 10px !important;
	float: left!important;
	border :1px solid #f9f9f9;
}

.contact-info-booking-admin{
	width: 61% !important;
	margin-right: 5px !important;
	float: left;
}

.contact-info-booking-want-to-move-admin{
	width: 34% !important;
	float: left;
}

.panel_contents table tr.odd td {
  background: #ffffff;
}

.panel_contents table tr.even td {
  background: #ffffff;
}


form fieldset > ol > li fieldset:not(.inputs) ol {
     float: left;
    width: 98% !important;
    margin: 0;
    padding: 3px 3px 3px 3px !important;
}

.address-current-panel-admin-frm{
  width: 46% !important;
  margin-right: 10px !important;
  float: left!important;
  border: 1px solid #b7adad;
  background: white;
}

.admin-frm-from-booking{
  margin-top: -20px;
  float: right!important;
}

form fieldset ol > li label {
    display: block;
    width: 100% !important;
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    color: #5E6469;
}

#booking_current_house_name_or_number,
#booking_current_street_name,#booking_current_post_code,
#booking_new_house_name_or_number,
#booking_new_street_name,
#booking_new_post_code,#booking_person_name,
#booking_email,#booking_valid_telephone_number{
  width: -webkit-fill-available;
}

.contact-info-booking-admin{
  background: #f5f3f3;
  border: 1px solid gray;
}

#booking_title{
  width: -webkit-fill-available;
  height: 25px;
}

.admin_bookings {
  background: red!important;
}

.grid_4{
  width: 50%;
  float: left;
  padding-bottom: 10px;
}

.ui-datepicker .ui-datepicker-header {
    height: 14px;
    background-color: #6a7176;
    background-image: linear-gradient(180deg, #6a7176, #ff3cf0) !important;
    border-bottom: 1px solid #44484b;
    padding: 12px 5px 7px 4px;
    margin: 0px 0px 2px 2px;
    width: 147px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: relative;
    z-index: 2000;
    width: 97.5% !important;
}

.ui-datepicker table.ui-datepicker-calendar {
    border-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.26);
    background-color: #f4f4f4;
    border: solid 1px #63686e;
    left: 2px;
    margin-bottom: 0px;
    position: relative;
    top: -2px;
    width: 100% !important;
}

.ui-datepicker {
    background: #fff;
    background-clip: padding-box;
    color: #fff;
    display: none;
    margin-top: 2px;
    padding: 0;
    text-align: center;
    width: 100% !important;
}

.ui-datepicker table.ui-datepicker-calendar tbody td a.ui-state-highlight {
    background-color: #1882d2 !important;
}

#booking_cancel_action{
  padding: 8px;
  background: #000000;
  color: white;
}

#booking_cancel_action>a{
  color: white;
  text-decoration: none;

}

#booking_cancel_action>a:hover{
  text-decoration: none;
}

.title_bar#title_bar h2 {
    color: #5e6469;
    font-size: 16px !important;
}

#new_quotation{
  width: 60%;
}

.col-price{
  width: 95%;
  // float: left;
  border: 0.5px solid red;
}


// .col-van-img{
//   width: 45%;
//   margin-left: 2%;
//   float: left;
//   border: 0.5px solid red;
// }

#quotation_price_input,#quotation_customer_name_input,
#quotation_from_address_input,#quotation_to_address_input,#quotation_vechile_type_input{
  list-style: none;
}

.col-mid-price{
  padding: 5px;
}

#quotation_price{
 margin-left: 50%;
    width: 40%;
}
.vat-message{
  margin-top: -15px !important;
    font-style: italic !important;
    text-align: right !important;
    margin-right: 15px !important;
    font-size: smaller !important;
}

#quotation_vechile_type{
  margin-left: 44%;
    width: 44%;
    height: 25px;
}