//home sections
.lnd-img-sec-{
	height: 460px;
  width: 100%;  
 	//background-color: red;
 	margin: 0;
 	padding: 0;
}



.new-booking-request-section{
	padding-top: 150px;
}

.foot-copy{
	font-size: 8px;
	padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: -10px;
}
.cop-btm-lne{
	background: #1d1a1a 1px;
  width: 100%;
}

.img-holder{
	//position: relative;
	padding-top:  120px;
	background-image: asset_url("road_cars.jpg");
	//z-index: 100;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.head-text-cont{
	position: absolute;
	text-align: left;
	top: 200px;
	
	// width: 100%;
}

.hed-txt-itm-fst{
	color: white;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase !important; 
	background: #000000bf;
  padding: 10px;
}


.hed-txt-itm-second{
	color: red;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase !important; 
}

.btn-link-online{
	margin-top: 35px;
	margin-bottom: 20px;
}

.link-btn-to-online{
	background-color: #f50000;
  text-align: center;
  color: white;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
	text-transform: uppercase !important; 
	text-decoration: none;
}
.link-btn-to-online:hover{
	text-decoration: none;
	color: white;
}


.abt-us-sec-{
	border-bottom: 1px solid #cecece;
	padding-bottom: 25px;
}

.explin-abt-sex-head-txt{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-family: 'Roboto', sans-serif;
	margin-top: 50px;

}

.expialin-abt-us{
	color: black;
	font-family: 'Open Sans', sans-serif;
	padding-top: 15px;
}

.the-van{
	position: relative;
  z-index: 101;
}

.the-van2{
// position: absolute;
  z-index: 99;
  // margin-top: -250px;
  // margin-left: -100px;
  margin-top: 40px;
    
   
}

.van-img{
	float: right;
}

.thin-red-line{
	background-color: red;
  width: 250px;
  position: absolute;
  margin-top: -5px;
  margin-bottom: 10px;
}

.p-one,.p-two, .p-three{
	margin-bottom: -1px;
	font-family: 'Roboto', sans-serif;
}
.p-three{
	color: red;
}

.get-qte-abt{
	margin-top: 15px;
	width: 250px;
	max-width: 250px;
}
.abt-us-get-qte-link{
	color: white;
	background: red;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.abt-us-get-qte-link:hover{
	text-decoration: none;
	text-align: center;
	color: white;
}

.service-sec-{
	background: #f3f2f2;
	border-bottom: 1px solid #cecece;
}

.service-itm-cont{
	padding-top: 50px;
	padding-bottom: 50px;
}

.service-card{
	
	border: 1px solid #cecece;
    background: white;
    width: 100%;
	
}
.service-icon{
	text-align: center;
	margin-top: 20px;
}
.package-svg{
	height: 70px;
  border: 1px solid red;
  border-radius: 120px;
  
  padding: 10px;
}

.ser-ex-txt{
	margin: 10px;
	font-family: 'Roboto', sans-serif;
	color: black;
}
.-ser-ex-txt-line{
	background-color: red;
    width: 50%;
    position: absolute;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.ok-explain-parah{
	font-family: inherit;
	color: black;
	font-weight: 100;
}

.qoute-sec{
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #cecece;

}

.req-qte-sec-head{
	
}

.req-qt-head-txt{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-family: 'Roboto', sans-serif;
	// margin-top: 50px;
}

.alretnative-call{
	background: black;
	padding: 15px;
	color: white;
	width: 250px;
	text-align: center;

}
.btn-tbn{
	height: 86px;
	width: 100%;
	background:red;

}

.foot-sec-{
	background: black;
	color: white;
}

.foot-cont-itms{
	padding-top: 50px;
}

.foot-thin-line{
	background-color:red; 
	



}

.foot-tit-txt{
	font-family: inherit;
	font-size: 12px;
	margin-top: -1px;
	text-decoration: none;
	color: white;
}



.p-foot-foot-text{
	font-family: inherit;
	font-size: 12px;
	margin-top: -1px;
	text-decoration: none;
	color: white;

}



.p-foot-foot-text-two{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin-top: -1px;
	text-decoration: none;
	color: black;
}

.p-foot-foot-text-two:hover{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin-top: -1px;
	text-decoration: none;
	color: black!important;
}
.p-foot-foot-text:hover{
	font-family: inherit;
	font-size: 12px;
	margin-top: -1px;
	text-decoration: none;
	color: white;
}

.p-foot-useful-one-btn{
	background: red;
	padding: 8px;
	text-align: center;
	width: 150px;
	margin-bottom: 10px;
}

.p-foot-useful-two-btn{
	background: white;
	padding: 8px;
	text-align: center;
	width: 150px;
	color: black;
}

.hidden { display: none; }


@media (max-width: 319px){
	.head-text-cont, .hed-txt-itm-second{
		text-align: center;
	}
	.hed-txt-itm-second,.link-btn-to-online{
		width: 100%;
	}

	.landing-container{
		padding-right: 0px !important; 
		padding-left: 0px !important; 
		width: 100% !important;
	}

	.explin-abt-sex-head-txt{
		text-align: center;
		
	}

	.thin-red-line{
		width: 150px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.expialin-abt-us{
		text-align: center;
	}
	
	.get-qte-abt{
		width: 100% !important;
		max-width: 100% !important;
	}

	.vn-img-abt-sec{
		display: none;
	}

	.service-card{
		margin-bottom: 10px;
	}
	
	.req-qte-sec-head{
		text-align: center;
	}
	.request-qte-frm{
		margin-top: 20px;
		
	}

}

@media (min-width: 320px)and (max-width: 767px){
	.head-text-cont, .hed-txt-itm-second{
		text-align: center;
		width: 100%;
	}
	.hed-txt-itm-second,.link-btn-to-online{
		width: 100%;
	}

	.landing-container{
		padding-right: 0px !important; 
		padding-left: 0px !important; 
		width: 100% !important;
	}

	.explin-abt-sex-head-txt{
		text-align: center;
		
	}

	.thin-red-line{
		width: 150px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.expialin-abt-us{
		text-align: center;
	}
	
	.p-one{
		text-align: center;
	}
	.p-two{
		text-align: center;
	}

	.get-qte-abt{
		width: 100% !important;
		max-width: 100% !important;
	}

	.vn-img-abt-sec{
		display: none;
	}

	.service-card{
		margin-bottom: 10px;
	}
	
	.req-qte-sec-head{
		text-align: center;
	}
	.request-qte-frm{
		margin-top: 20px;

	}

	.foot-tit{
		text-align: center;
		margin-bottom: 20px;
		margin-top: 50px;
	}
	.foot-tit-addr,.foot-tit-tel{
		text-align: center;
	}

	.p-foot-foot-text{
		text-align: center;
	}

	.p-foot-useful-two-btn {
    width: 150px;
    position: relative;
    
    transform: translateX(-50%);
    left: 50%;
   
   
	}

	.p-foot-useful-one-btn {
    width: 150px;
    position: relative;
    
    transform: translateX(-50%);
    left: 50%;
    
	}

}

@media (min-width: 768px) and (max-width: 991px){
	
	// .the-van{
	// 	position: relative;
 //    z-index: 101;
 //    margin-top: 50px;
 //    width: 90%;
	// }
	

	// .the-van2{
	// 	display: none;
	// }

	.the-van2{
	z-index: 101;
    margin-top: 80px;
    width: 100%;
	}

	.quote-explain-cols{
		margin-top: 30px;

	}
	.counter{
		text-align:  center;
	}
}

@media (max-width: 991px){
	// .btn-link-online{
	// 	text-align: center;

	// }
	// .link-btn-to-online{
	// 	vertical-align: middle;
	// }

	.link-btn-to-online{
		width: 100%;
	}
	.quote-explain-cols{
		margin-top: 30px;
		
	}
}

@media (min-width: 992px) and (max-width: 1199px){
.quote-explain-cols{
		margin-top: 30px;
		
	}
	.counter{
		text-align: left;
		margin-top: -20px;
		
	}

}
@media (min-width: 1200px) { 
.counter{
		text-align: left;
		margin-top: -20px;
		
	}
	.quote-explain-cols{
		margin-top: 30px;
		
	}
}

.modal-dialog{
	max-width: 75% !important;
	color: black;
	font-family: 'Roboto', sans-serif;
}

.foot-modal{
	justify-content: center !important;
}

.terms-ul-exclude-more{
	padding-left: 0;
}

.ul-li{
	font-size: 14px;
    font-family: sans-serif;
    padding-top: 10px;
}
.cancel-btn,.danger-btn{
	border-radius: 0;

}

#page_name,#page_email,#page_phone,#page_message{
	border-radius: 0;

}
.nav-link-nav-links{
	padding: 0.2rem 0.1rem !important;

}
.foot-tit-add-hed{
	line-height: 0.2 !important;
}

.p-foot-foot-text{
	 margin-top: 0.1rem !important;
}  

.service-header-text-head{
	padding-top: 50px;
	margin-top: 0 !important;
}

.p-foot-useful-four:hover{
	cursor: pointer;
	text-decoration: none;
}