body {
  overflow-X: hidden;
}

.logo-image{
 width: 30%;
    margin-top: -23px;
}
#myTopnav{
  position: fixed;
  width: 100%;
  margin:0;
  padding: 0; 
  border-bottom: 1px solid  #f1f1f1;
  -webkit-box-shadow:0px 1px 1px #f1f1f1;
 -moz-box-shadow:0px 1px 1px #f1f1f1;
 box-shadow:0px 1px 1px #f1f1f1;
 background: white;
 z-index: 100000;
}
.top-header-social{
  overflow: inherit;
  height: 36px;
  background: white;
  color: #454545;
  font-size: 12px;
  // text-align: right;
  border-bottom: 0.3px solid  #f1f1f1;
  width: 100%;


}

.fa-clock,.fa-mobile-alt{
    color: red;
    font-size: 14px;
    margin-right: 10px;
  }

  .fa-twitter,.fa-facebook-f{
     color: #c7c4c4;
    font-size: 14px;
    margin-right: 10px;
  }


.header-mid{
  height: auto;
  background: white;
  clear: both;
  width: 100%;
}

.mob-so-only-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}

@media (min-width: 320px) and (max-width: 767px){
  .logo-image{
  width: 35%;
    margin-top: -15px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .logo-image{
  width: 35%;
    margin-top: -15px;
  }
}



//media-break-points



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 991px){
  .left-info{
    float: none;
    vertical-align: middle;
    text-align: center;
    display: block;
    margin-top: 8px;
  }

  .right-info{
    display: none;
  }
.mob-so-only-ul{
  display: inline-flex;
}
.mob-so-only{
  display: block;
  width: 100%;
  margin-top: 8px;
}
  

  .left-pane-ul, .right-pane-ul{
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    display: inline-flex;
  }

  .mobile-icn{
    margin-left: 10px;
  }
  
  .logo{
    float: none;
    // padding-bottom: 10px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }

  .logo>a{
     color: red;
     font-family: 'Roboto', sans-serif;
     font-size: 30px;
     
  }

  .logo>a:hover{
     color: red;
     font-family: 'Roboto', sans-serif;
     font-size: 30px;
     text-decoration: none;
  }

  .slogan-warp{
    float: none;
    vertical-align: middle;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
   
  }
  
  .slogan-wrap-ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .slogan-wrap-ul-li{
    padding-right: 5px;
    padding-left: 5px;
  }

  .nav-btn-get-qoute,.nav-btn-bk-online{
    margin-top: 20px;
  }

  .geta-qoute-link{
        position: relative;
    background: red;
    text-align: center;
    color: white;
    border-radius: 0px;
    padding: 8px;
    text-decoration: none;
    color: white;
    margin-top: -20px;
  }
  
  .bk-online-link {
    position: relative;
    background: black;
    text-align: center;
    color: white;
    border-radius: 0px;
    padding: 8px;

    text-decoration: none;
    color: white;
  }

  .geta-qoute-link:hover, .bk-online-link:hover{
    text-decoration: none;
    color: white;
  }

 
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px){

  .header-mid{
    height: 80px;
    background: white;
    clear: both;
    width: 100%;
  }



  .left-info{
    float: left;
    vertical-align: middle;
    text-align: left;
    position: relative;
  }
  .right-info{
    float: right;
    vertical-align: middle;
    text-align: right;
    position: relative;
  }

  .mob-so-only {
    display: none;
  }

  .right-pane-ul,.left-pane-ul{
    margin-top: 8px;
  }
  .left-pane-ul, .right-pane-ul{
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    display: inline-flex;
  }

  .fa-clock,.fa-mobile-alt{
    color: red;
    font-size: 14px;
    margin-right: 10px;
  }

  .fa-twitter,.fa-facebook-f{
     color: #c7c4c4;
    font-size: 14px;
    margin-right: 10px;
  }


  .mobile-icn{
    margin-left: 20px;
  }

  .logo{
    float: left;
    // padding-bottom: 10px;
    // width: 30%;
    //margin-top: -10px;
    margin-top: 15px
  }

  .logo>a{
     color: red;
     font-family: 'Roboto', sans-serif;
     font-size: 30px;

     
  }

  .logo>a:hover{
     color: red;
     font-family: 'Roboto', sans-serif;
     font-size: 30px;
     text-decoration: none;
  }

  .slogan-warp{
    float: right;
    margin-top: 20px;
  }

  .slogan-wrap-ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .slogan-wrap-ul-li{
    padding-right: 5px;
    padding-left: 5px;
  }

  .bk-online-link {
    position: relative;
    background: black;
    text-align: center;
    color: white;
    border-radius: 0px;
    padding: 8px;

    text-decoration: none;
    color: white;
  }



  .nav-btn-get-qoute,.nav-btn-bk-online{
    margin-top: -8px;
  }

  .geta-qoute-link{
    position: relative;
    background: red;
    text-align: center;
    color: white;
    border-radius: 0px;
    padding: 8px;

    text-decoration: none;
    color: white;
  }

  .geta-qoute-link:hover, .bk-online-link:hover{
    text-decoration: none;
    color: white;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

   .header-mid{
    height: 80px;
    background: white;
    clear: both;
    width: 100%;
  }

  .left-info{
    float: left;
    vertical-align: middle;
    text-align: left;
    position: relative;
  }
  .right-info{
    float: right;
    vertical-align: middle;
    text-align: right;
    position: relative;
  }
  .mob-so-only {
    display: none;
  }

  .right-pane-ul,.left-pane-ul{
    margin-top: 8px;
  }
  .left-pane-ul, .right-pane-ul{
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    display: inline-flex;
  }

  .fa-clock,.fa-mobile-alt{
    color: red;
    font-size: 14px;
    margin-right: 10px;
  }

  .fa-twitter,.fa-facebook-f{
     color: #c7c4c4;
    font-size: 14px;
    margin-right: 10px;
  }


  .mobile-icn{
    margin-left: 20px;
  }

  .logo{
    float: left;
    // padding-bottom: 10px;
    // width: 30%;
    // margin-top: -10px;
    margin-top: 15px
  }

  .logo>a{
     color: red;
     font-family: 'Roboto', sans-serif;
     font-size: 30px;
     
  }

  .logo>a:hover{
     color: red;
     font-family: 'Roboto', sans-serif;
     font-size: 30px;
     text-decoration: none;
  }

  .slogan-warp{
    float: right;
    margin-top: 20px;
  }

  .slogan-wrap-ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .slogan-wrap-ul-li{
    padding-right: 5px;
    padding-left: 5px;
  }

  .bk-online-link {
    position: relative;
    background: black;
    text-align: center;
    color: white;
    border-radius: 0px;
    padding: 8px;

    text-decoration: none;
    color: white;
  }



  .nav-btn-get-qoute,.nav-btn-bk-online{
    margin-top: -8px;
  }

  .geta-qoute-link{
    position: relative;
    background: red;
    text-align: center;
    color: white;
    border-radius: 0px;
    padding: 8px;

    text-decoration: none;
    color: white;
  }

  .geta-qoute-link:hover, .bk-online-link:hover{
    text-decoration: none;
    color: white;
  }
}