<div class="container Rdl-footer-address-details">
		<div class="foot-cont-itms">
			<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				<div class="foot-tit">
					<h5 class="foot-tit-txt text-left">
						Head Office
					</h5>

					

					<hr class="foot-thin-line">
				</div>
				<div class="foot-tit-addr rdl-business-address">
					<h5 class="foot-tit-addr-txt foot-tit-add-hed">
						<p class="p-foot-add-one  p-foot-foot-text">24 Gladstone Avenue,</p>
						<p class="p-foot-add-two  p-foot-foot-text">Chester,</p>
						<p class="p-foot-add-three  p-foot-foot-text">Cheshire.</p>
						<p class="p-foot-add-four  p-foot-foot-text">CH1 4JU</p>
					</h5>
				</div>
				<div class="foot-tit-tel">
					<h5 class="foot-tit-tel-txt">
						<p class="p-foot-tel-one p-foot-foot-text">Tel : 07939595187</p>
						<p class="p-foot-tel-two p-foot-foot-text">Email: info@rdlway.com</p>
					</h5>
				</div>
			</div>


			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				<div class="foot-tit">
					<h5 class="foot-tit-txt">
						Useful Links
					</h5>
					<hr class="foot-thin-line">
				</div>
				<div class="foot-tit-addr">
					<h5 class="foot-tit-addr-txt text-left">
						<a class=" nav-link  nav-link-nav-links js-scroll-trigger p-foot-useful-one p-foot-foot-text " href="#about-rdl-removals">About Us</a>
						<a class=" nav-link  nav-link-nav-links js-scroll-trigger p-foot-useful-two p-foot-foot-text " href="#rdl-removals-services">Services</a>
						<!-- <p class="p-foot-useful-four p-foot-foot-text data-toggle="modal" data-target="#myModal"">Terms & Conditions</p> -->
						<%#= link_to "#myModal", data: { toggle: "modal" } do %>
						 <!--  <p class="p-foot-useful-four p-foot-foot-text">Terms & Conditions</p> -->
						<%# end %>


						<%= link_to  terms_path,  {'data-toggle' =>  "modal", 'data-target' => '#myModal'} do %>
							<p class="p-foot-useful-four p-foot-foot-text">Terms & Conditions</p>
						<%end%>

						
				
					</h5>
				</div>
				<div class="foot-tit-tel">
					<h5 class="foot-tit-tel-txt">
						<!-- <p class="p-foot-useful-one-btn p-foot-foot-text">Get Free Qoute</p> -->
						<a class="nav-link  nav-link-nav-links js-scroll-trigger p-foot-useful-one-btn p-foot-foot-text" href="#rdl-removals-get-a-free-qoutation">Get a free Qoute</a>
						<!-- <p class="p-foot-useful-two-btn p-foot-foot-text">Book Online</p> -->
						<!-- <a class="nav-link js-scroll-trigger p-foot-useful-two-btn p-foot-foot-text p-foot-foot-text-two" href="#qoute">Book Online</a> -->
					</h5>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
				<div class="foot-tit">
					<h5 class="foot-tit-txt">
						Social
					</h5>
					<hr class="foot-thin-line">
				</div>
				<div class="foot-tit-addr">
					<h5 class="foot-tit-addr-txt">
						<p class="p-foot-useful-one">
							<%=link_to "https://www.facebook.com/RDLRemovals/" do %>
								<i class="fab fa-facebook-f"></i>
							<%end%>
						</p>
							
						<p class="p-foot-useful-two">
							<%=link_to "https://twitter.com/RdlRemovals" do%>
								<i class="fab fa-twitter"></i>
							<%end%>
						</p>
						
					</h5>
					<!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/SEfFdhpUsOI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
				</div>
				
			</div>
		</div>
		</div>
		<div class="copy-r text-center">
			<hr class="cop-btm-lne">
			<h6 class="foot-copy">&copy; <%=Time.new.year%> R D L Transportation Ltd Reg No. 12105554</h6>
			<div class="counter">
				<!-- Start of CuterCounter Code -->
				<a href="https://www.cutercounter.com/" target="_blank"><img src="https://www.cutercounter.com/hits.php?id=gvqcnfo&nd=9&style=2" border="0" alt="website counter"></a>
				<!-- End of CuterCounter Code -->			                        
			</div>
		</div>
		
	</div>

		<!-- The Modal -->
		  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		    <div class="modal-dialog">
		      <div class="modal-content">
		      
		        <!-- Modal Header -->
		        <div class="modal-header">
		          <h1 class="modal-title">Terms & Conditions</h1>
		          <button type="button" class="close" data-dismiss="modal">×</button>
		        </div>
		        
		        <!-- Modal body -->
		        <div class="modal-body">
		          <%=render 'layouts/terms_modal'%>
		        </div>
		        
		        <!-- Modal footer -->
		        <div class="modal-footer text-center foot-modal">
		          <button type="button" class="btn btn-danger cancel-btn" data-dismiss="modal">Close</button>
		          <button type="button" class="btn btn-success danger-btn" data-dismiss="modal">Accept</button>
		        </div>
		        
		      </div>
		    </div>
		  </div>
		  
		</div>
</div>




