<h3 class ="text-center "> Terms & Conditions</h3>
<br>
<p>
	These conditions explain the rights, obligations, and responsibilities of all parties to this Agreement.
	Where We use the word <strong>‘You’</strong> or <strong>‘Your’</strong> it means the Customer: <strong>‘We’</strong>, <strong>‘Us’</strong> or <strong>‘Our’</strong> means the Remover.
	These terms and conditions can be varied or amended subject to prior written agreement.
</p>
<ol>
	<li><strong>Quotations</strong></li>
		<ol>
			<li class="ul-li">Quotations do not include customs duties or any other levies of fees payable to government or
					other statutory bodies and all such duties of fees will be payable by you in addition to the quoted
					price.
			</li>
			<!-- <strong> -->
				<li class="ul-li"> 
					2.b Although we quote a fixed price we reserve the right to amend it or make additional charges if
					any of the following have not been taken into account when preparing the quotation.
				</li>
				<br>
			<!-- </strong> -->
				<ol start ="1" class ="sub_para_terms">
					<li  class="ul-li">If due to the delay on your part the work is not carried out or completed within 3 months of
					the quotation date.
					</li>
					<li class="ul-li">
						Our costs increase as a result of currency fluctuations or changes in taxation.
					</li>
					<li class="ul-li">
						We have to collect or deliver goods on or above second floor level.
					</li>
					<li class="ul-li">
						We supply any additional services.
					</li>
					<li class="ul-li">
						There are delays outside our reasonable control.
					</li>
					<li class="ul-li">
						Access to the collection or delivery point is inadequate or the approach is unsuitable for our
						vehicles.
					</li>
					<li class="ul-li">
						Any parking or other fees or charges that we have to incur and pay in order to carry out the
						services you require.
					</li>
					<li class="ul-li">
						In all these circumstances you will be responsible for the extra charges.
					</li>
				</ol>
				<br>
				</ol>
				<ol start ="2">
					<li class="ul-li">
						Quotations include a removals insurance premium but the payment of the premium creates a
						separate contract between the insurer and you which is subject to the terms and conditions of the
						Insurer. A summary of the cover provided and main exclusions from the cover is enclosed with these
						conditions.
					</li>
					<li class="ul-li">Our quotation is not a guarantee that we have vehicles available on the day you require. Accordingly
							your signed acceptance of our quotation does not constitute a contract between us until you have
							our confirmation that we can move your goods on the requested date.
					</li>
				</ol>
				<br>
		<li>
			<strong>Work excluded from our quotations</strong>
			<ul class="terms-ul-exclude-more ul-li">
				Unless previously agreed in writing we will not:
			</ul>
			<ol>
				<li class="ul-li">Dismantle or assemble unit-furniture, fitments or fittings.</li>
				<li class="ul-li">Disconnect or reconnect appliances, fittings or equipment.</li>
				<li class="ul-li">Remove or lay fitted floor coverings.</li>
				<li class="ul-li">Move night storage heaters unless they are dismantled.</li>
				<li class="ul-li">Move or store any items excluded under Clause 4.</li>
			</ol>
		</li>
		<br>
		<li><strong>Excluded property</strong>
			
			<ul class="terms-ul-exclude-more ul-li">
				The following items are specifically excluded from the Contract and will not be removed:
			</ul>
			<ol>
				<li class="ul-li">Jewellery, watches, trinkets, precious stones, money, deeds, securities, stamps, coins or goods or
				collections of a similar kind.
				</li>
				<li class="ul-li">Potentially dangerous, damaging or explosive items.</li>
				<li class="ul-li">Goods likely to encourage vermin or other pests or to cause infection.</li>
				<li class="ul-li">Any animals and their cages or tanks including pets, birds or fish.</li>
				<li class="ul-li">Such goods will not be removed by us except without prior written agreement. If you submit such
						goods without our knowledge and prior written agreement we will not be liable for any loss or
						damage except when death or injury is caused by our negligence or that of our employees and you
						will indemnify us against any charges, expenses, damages or penalties claimed against us by third
						parties. In addition we shall be entitled to dispose any such goods which are listed under paragraphs
						4.a,4.b, 4.c or 4.d.
				</li>
			</ol>
		</li>
		<br>
	<li><strong>Customer’s responsibility</strong>
		<ul class="terms-ul-exclude-more ul-li">
				It is your sole responsibility to:
		</ul>
		<ol type="a">
				<li class="ul-li">Declare	to	us	the	proper	value	of	the	goods	being	removed	and/or	stored.</li>
				<li class="ul-li">Obtain	at	your	expense	all	documents	necessary	for	the	removal	to	be	completed.</li>
				<li class="ul-li">Be	present	yourself	or	appoint	a	representative	at	the	departure	and	destination	points	to	ensure	
						that	nothing	is	removed	or	left	in	error.
				</li>
				<li class="ul-li">Prepare	adequately	and	stabilise	all	appliances	prior	to	their	removal.	Other	than	by	reason	of	our	
						negligence	we	will	not	be	liable	for	any	loss	or	damage,	costs	or	additional	charges	that	may	arise	
						from	these	matters.
				</li>
		</ol>
	</li>
	<br>
	<li><strong>Ownership	of	the	goods</strong>
		<ul class="terms-ul-exclude-more ul-li">
				By	entering	into	this	contract	you	confirm	to	us	that:
		</ul>
		<ol start="1">
				<li class="ul-li">The	goods	to	be	removed	are	your	own	property	or</li>
				<li class="ul-li">You	have	the	authority	of	the	owner	of	the	property	to	make	this	contract	in	respect	of	the	goods	
						to	be	removed	or	stored.
				</li>
				<li class="ul-li">You	will	be	responsible	to	pay	for	any	claim	for	damages	and/or	costs	against	either	of	the	above	if	
						this	proves	to	be	untrue
				</li>
		</ol>
	</li>
	<br>
	<li><strong>Cancellations</strong>
		<ul class="terms-ul-exclude-more ul-li">
				If	you	cancel	this	contract, we	may	charge	according	to	how	much	notice	you	provide	prior	to	the	agreed	
				removal	date:
		</ul>

		<ol start="1">
				<li class="ul-li">Between	2-7	days:	30%	of	the	total	removal	charges.</li>
				<li class="ul-li">24-48	hours:	75%	of	the	total	removal	charges.</li>
				<li class="ul-li">Less	than	24	hours:	100%	of	the	total	removal	charges.</li>
		</ol>
	</li>
	<br>

	<li><strong>Payment	of	removal	charges</strong>
		<ul class="terms-ul-exclude-more ul-li">
			Unless	you	have	our	agreement	to	the	contrary	you	must	pay	our	charges	on	the	day	of	your	removal.	Interest	
			at	2%	per	month	calculated	on	a	daily	basis,	is	charged	on	all	overdue	accounts
		</ul>
	</li>	
	<br>

	<li><strong>Our	liability	for	loss	or	damage</strong>
		<ol>
			<li class="ul-li">In	the	event	of	our	losing	or	damaging	your	goods	we	will	pay	for	the	reasonable	costs	of	the	repair	
					or	replacement	(less	wear	and	tear)	of	the	item	if	we	have	been	negligent.
			</li class="ul-li">
			<li class="ul-li">In	the	event	of	a	total	or	partial	loss	or	damage	to	your	goods,	we	will	not	be	liable	for	the	
					following:
					<ol start="1">
						<li class="ul-li">“new	for	old”	replacement	value	for	lost	or	damaged	goods.</li>
						<li class="ul-li">any	loss	or	damage	which	is	not	caused	by	us.</li>
						<li class="ul-li">any	unforeseeable	additional	costs	you	might	incur	as	a	result	of	loss	of	a	particular	item.
								If	 you	 require	 insurance	 cover	 for	 any	 of	 the	 matters	 set	 out	 above, you	 will	 need	 to	 arrange	 that	independently
						</li>
					</ol>
			</li>
		</ol>
	</li>
	<br>

	<li><strong>Delays	in	transit</strong>
		<ul class="terms-ul-exclude-more ul-li">
			If	we	do	not	keep	to	an	agreed	written	time	scale	schedule	and	any	delay	is	within	our	reasonable	control	we	
			will	 pay	 your	 reasonable	 expenses	 which	 arise	 as	 a	 result	 of	 our	 not	 keeping	 to	 the	 agreed	 written	 time	
			schedule.	 If	 through	 no	 fault	 of	 ours	 we	 are	 unable	 to	 deliver	 your	 goods,	 we	 will	 take	 them	 into	 store.
			This	contract	will	then	be	fulfilled	and	any	additional	service(s),	including	storage	and	delivery,	will	be	at	our	
			expense.
		</ul>
	</li>

	<br>

	<li><strong>Damage	to	premises</strong>
		<ul class="terms-ul-exclude-more ul-li">
			We	shall	only	be	liable	for	damage	to	premises	caused	by	our	negligence.	Any	damages	to	premises	must	be	
			noted	 on	 the	 delivery	 receipt	 and	 confirmed	 in	 writing	 to	 us	 within	 <strong>SEVEN DAYS</strong>	 unless	 you	 request	 a	reasonable	extension	which	must	be	agreed	in	writing.
		</ul>
	</li>
	<br>
	<li><strong>Time	limits	for	claims</strong>
		<ul class="terms-ul-exclude-more ul-li">
			We	will	not	be	liable	for	any	loss	or	damage	to	any	goods	unless	any	claim	for	loss	or	damage	is	notified	to	us	
			in	writing	within	<strong>SEVEN DAYS</strong>	of	either	collection	by	you	or	delivery	by	us	to	their	destination
		</ul>
	</li>
	<br>
	<li><strong>Our	rights	to	withhold	goods</strong>
		<ul class="terms-ul-exclude-more ul-li">
			We	have	a	legal	right	to	withhold	goods	until	you	have	paid	all	our	charges	and	other	payments	due	under	
			this	contract.	These	include	any	charges	that	we have	paid	out	on	your	behalf.	While	we	hold	the	goods	and	
			wait	 for	 payment	 you	 will	 be	 liable	 to	 pay	 all	 storage	 charges	 and	 other	 costs	 incurred	 as	 a	 result	 of	
			withholding	your	goods	and	these	terms	and	conditions	will	continue	to	apply
		</ul>
	</li>
		<br>

		<li><strong>Sub-contracting	the	work</strong>
			<ul class="terms-ul-exclude-more ul-li">
				We	reserve	the	right	to	sub-contract	some	or	all	of	the	work	for	which	we	have	provided	a	quotation	without	
				reference	to	you. If	we	do	sub-contract	these	terms	and	conditions	will	still	apply	in	full
			</ul>
		</li>
		<br>
		<li><strong>Storage	services</strong>
			<ul class="terms-ul-exclude-more ul-li">
				The	following	terms	in	addition	to	all	other	terms	set	out	in	this	document	will	apply	to	all	contracts	for	the	
				storage	of	goods:
			</ul>
			<ol>
				<li class="ul-li">If	 you	 require	 storage	 facilities	 you	 are	 obliged	 to	 provide	 a	 forwarding	 address	 and	 notify	 us	 in	
						writing	if	it	changes.	All	correspondence	and	notices	will	be	deemed	to	have	been	received	by	you	
						seven	days	after	posting	it	to	the	last	forwarding	address	recorded	by	us.
				</li>
				<li class="ul-li">Where	we	provide	an	inventory	of	goods	stored	on	your	behalf	it	will	be	accepted	as	accurate	unless	
						you	 provide	 us	 with	 written	 notice	 of	 any	 errors	 or	 omissions	 within	 7 days	 of	 our	 posting	 the	
						inventory	to	you
				</li>
				<li class="ul-li">All	charges	for	storage	services	are	payable	in	advance.	All	our	charges	must	be	paid	in	full	in	cleared	
						funds	before	any	goods	are	released	from	storage.
				</li>
				<li class="ul-li">We	 review	 our	 storage	 charges	 periodically.	 You	 will	 be	 given	 28	 days	 notice	 in	 writing	 of	 any	
						increases	following	which	our	revised	rates	as	notified	will	apply.
				</li>
				<li class="ul-li">On	giving	you	28	days	notice	we	are	entitled	to	require	you	to	remove	your	goods	from	our	custody	
						and	pay	all	money	due	to	us.	If	you	fail	to	pay	all	outstanding	debts	due	to	us	we	are	entitled	to	sell	
						or	dispose	of	some	or	all	of	the	goods	without	further	notice.	The	cost	of	the	sale	or	disposal	will	be	
						charged	to	you.	The	net	proceeds	will	be	credited	to	your	account	and	any	eventual	surplus	will	be	
						paid	to	you	without	interest.
				</li>
				<li class="ul-li">If	your	payments	are	up	to	date	we	will	not	end	this	contract	except	by	giving	you	3	calendar	months	
						notice	in	writing.	If	you	wish	to	terminate	your	storage	contract	you should	give	at	least	7 days	notice.	
						If	we	can	release	the	goods	earlier	we	will	do	so,	provided	your	account	is	up	to	date.
				</li>
				<li class="ul-li">If	you	choose	someone	else	to	collect	your	goods	from	our	storage	facilities, we	are	entitled	to	make	
					a	 charge	 for	 handing	 them	 over.	Our	 responsibilities	 for	 such	 goods	 will	 cease	 upon	 them	 being	
					handed	over	to	your	chosen	representative.
				</li>
			</ol>
		</li>
		<br>
		<li><strong>Whole	agreement</strong>
			<ul class="terms-ul-exclude-more ul-li">
				These	Terms	and	Conditions	together	with	our	quotation	are	intended	to	form	the	whole	agreement	between	
				us	and	to	prevail	over	any	verbal	discussions.	Should	we	mutually	agree	to	any	variation	of	these	terms	such	
				variation	should	be	confirmed	in	writing.
			</ul>
		</li> 
		<br>

		<li><strong>Jurisdiction</strong>
			<ul class="terms-ul-exclude-more ul-li">
				This	contract	is	subject	to	the	laws	of	England	and	Wales.
			</ul>
		</li>
</ol>

 


