<div class="topnav" id="myTopnav">
	<div class="container">
		<div class="top-header-social">	
			<div class="left-info">
				<ul class="left-pane-ul">
					<li class="left-pane-ul-li">
						<span>
							<i class="far fa-clock"></i>
							<strong>MON - Sun 8.00 - 22.00</strong>
						</span>
					</li>

					<li class="left-pane-ul-li mobile-icn">
						<span>
							<i class="fas fa-mobile-alt"></i>
							<strong>07939595187</strong>
						</span>
					</li>
				</ul>

				<div class="mob-so-only">
					<ul class="mob-so-only-ul">
						<li class="mob-so-only-u-li mobile-social-tw">
							<span>
								<%=link_to "https://twitter.com/RdlRemovals" do%>
									<i class="fab fa-twitter"></i>
								<%end%>
							</span>
						</li>

						<li class="mob-so-only-u-li mobile-social-fb">
							<span>
								<%=link_to "https://www.facebook.com/RDLRemovals/" do %>
									<i class="fab fa-facebook-f"></i>
								<%end%>
							</span>
						</li>
					</ul>
				</div>

			</div>
			<div class="right-info">
				<ul class="right-pane-ul">
					<li class="right-pane-ul-li twitter-icn">
						<span>
							<%=link_to "https://twitter.com/RdlRemovals" do%>
								<i class="fab fa-twitter"></i>
							<%end%>
						</span>
					</li>

					<li class="right-pane-ul-li facebk-icn">
						<span>
							<%=link_to "https://www.facebook.com/RDLRemovals/" do %>
								<i class="fab fa-facebook-f"></i>
							<%end%>
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="header-mid">
			<div class="logo">
					
				<a class=" nav-link  nav-link-nav-links js-scroll-trigger p-foot-useful-one p-foot-foot-text"  href="#rdl-removals-chester-introduction"><%=image_tag("rdl_logo.svg", class: "logo-image", alt: "Rdl Company Logo")%></a>
					
			</div>

			<div class="slogan-warp">
				<!-- <div class="slogan-wrap-text text-right"> -->
					<ul class="slogan-wrap-ul">
						<li class="slogan-wrap-ul-li nav-btn-get-qoute">
							<%#=link_to "Get a Qoute", "#", class: "geta-qoute-link"%>
							<a class="nav-link js-scroll-trigger geta-qoute-link" href="#rdl-removals-get-a-free-qoutation">Get a Quote</a>
						</li>

						<!-- <li class="slogan-wrap-ul-li nav-btn-bk-online">
							<%#=link_to "Book Online", "#", class: "bk-online-link"%>
						</li> -->
					</ul>
					
					
				<!-- </div>	 -->
			</div>
		</div>
	</div>
</div>








