<!DOCTYPE html>
<html>
  <head>
    <title>R D L Removals </title>
    <%#= display_meta_tags site: '- R D L -' %>
    <%= display_meta_tags description: "Your Local House Removing Partner", keywords: "near me, house rent, house rent near me, chester, west-midlands, stoke-on-trent, stoke, cheap , affordable, rent a car, house removals chester, house removals stoke-on-trent, house removals, house removals costs, house removal companies, house removals london, house removal boxes, house removal costs uk, man with van, man with van london, manwith man stoke-on-trent, man with van chester,man with van near me, man with van hire, man with van delivery service, man with van courier, man with van courier uk"%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <%= favicon_link_tag ('favicon.ico') %>
  </head>

  <body>
    <%=render 'layouts/top_nav'%>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= yield %>
    <script src="assets/jquery.easing.min.js"></script>
    <script src="assets/scrolling-nav.js"></script>
  </body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
